:root {
  --body-font: Arial, sans-serif;
  --heading-font: 'Georgia', serif;
  --primary-color: #004283;
  --accent1-color: #ff94fa;
  --accent2-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
  background-color: var(--accent2-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
